/* @value vars: '../../styles/vars.module.css'; */

.icon {
  position: relative;
  height: fits-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin: 3%;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 350ms;
}

.icon:hover {
  transform: scale(1.1);
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.text {
  color: inherit;
  text-decoration: underline dotted 10%;
  cursor: alias;
  transition: 400ms;
}

.text:hover {
  filter: brightness(1.5);
}
