@value vars: '../../styles/vars.module.css';
@value canvas_color, font_color_rgb, primary_color, secondary_color, secondary_color_rgb, general-margin, font_color from vars;

.main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.container {
  position: relative;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 120%;
  text-align: justify;
  margin: auto 0;
}

.title {
  margin: 1rem 0;
}
.story {
  position: relative;
  margin: 0.1rem;
  padding: 0.3rem;
  color: inherit;
  font-size: inherit;
  font-style: normal;
}

@media screen and (orientation: portrait) {
  .main {
    height: 90%;
  }
}
