@value vars: '../../styles/vars.module.css';
@value canvas_color, primary_color_hex, secondary_color_hex, canvas_color_hex, primary_color, secondary_color, font_color from vars;

.navi {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 0.1rem;
  transform: translateY(-50%);
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: secondary_color;
  border-radius: 1rem;
  z-index: 1;
}

.navi_selector {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: secondary_color;
  width: 0.5rem;
  height: 0.5rem;
  margin: 1.5rem;
  border-radius: 50%;
  transition-duration: 400ms;
}

.navi_selected {
  background-color: primary_color;
  border: solid 0.09rem secondary_color;
  width: 1rem;
  height: 1rem;
  cursor: default;
}