@value vars: '../../styles/vars.module.css';
@value section_background, resumeTicket_background, resumeTicket_fontColor from vars;

.main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  cursor: default;
  margin: auto 0;
}

.resume {
  position: relative;
  width: 80%;
  margin: 1rem;
  text-align: justify;
  line-height: 120%;
}

.resume::after {
  content: "Hover over a job to see more information about it";
  position: absolute;
  top: 50vh;
  right: 0;
  left: 0;
  height: 2rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  animation: bounce 1s infinite;
  user-select: none;
}

.entry {
  font-style: normal;
  margin: 0;
  padding: 0;
}

.key {
  font-style: normal;
  text-decoration: underline dotted rgb(100, 100, 100) 10%;
  color: resumeTicket_background;
  cursor: help;
  margin: 0;
  padding: 0;
}

.layout {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: section_background;
  z-index: 1;
  opacity: 0;
  transform: translate(-50%, 20%) scale(0);
  transition: 850ms;
}

.ticket {
  position: relative;
  display: flex;
  max-height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: resumeTicket_background;
  color: resumeTicket_fontColor;
  box-shadow: 0px 0px 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  padding: 1rem 1rem 1rem 2rem;
  overflow-y: auto;
}

.ticket_header {
  font-weight: bold;
  margin-bottom: 2rem;
}

.ticket_description {
  text-align: justify;
}

.key:hover + .layout {
  opacity: 1;
  transform: translate(-50%, 20%) scale(1);
}

/********** Responsive **********/

/** Mobile Phones **/

@media only screen and (orientation: portrait) {
  .main {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .resume::after {
    content: "Click on a job to see more information about it";
  }
}

/** Tablets **/

@media only screen and (max-height: 540px) and (orientation: landscape) {
  .key:hover + .layout {
    opacity: 1;
    transform: translate(-50%, 10%) scale(1);
  }

  .layout:hover {
    opacity: 1;
    transform: translate(-50%, 10%) scale(1);
  }

  .resume::after {
    content: "Click on a job to see more information about it";
  }
}

/********** Animations **********/

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
