@value vars: '../../styles/vars.module.css';
@value canvas_color, primary_color, secondary_color, font_color from vars;

.main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  cursor: default;
}

.resume {
  position: relative;
  width: 70%;
  margin: 1rem;
  text-align: justify;
  line-height: 1.6;
}

.hint {
  position: absolute;
  top: 50%;
  width: 60%;
  margin: 1rem;
  align-self: flex-end;
  font-size: 1.3rem;
  text-align: center;
  animation: bounce 1s infinite;
  transition: 700ms;
  user-select: none;
}

.entry {
  font-style: normal;
  margin: 0;
  padding: 0;
}

.key {
  font-style: normal;
  text-decoration: underline dotted rgb(100, 100, 100) 10%;
  color: secondary_color;
  cursor: help;
  margin: 0;
  padding: 0;
}

.ticket {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 200%);
  height: 19rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: secondary_color;
  color: primary_color;
  box-shadow: 0px 0px 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  line-height: 1.3;
  transition: 850ms;
  padding: 5%;
  z-index: 1;
}

.ticket_header {
  font-weight: bold;
}

.ticket_description {
  text-align: justify;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.key:hover + .ticket {
  transform: translate(-50%, 40%) rotate(0deg);
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@media screen and (orientation: portrait) {
  .main {
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .resume {
    width: 80%;
  }
  .hint {
    position: relative;
    top: -50%;
    align-self: unset;
    width: 60%;
  }

  .ticket{
    height: 28rem;
    padding: 8%;
    transform: translate(200%, 20%);
  }
  .key:hover + .ticket {
    transform: translate(-50%, 20%) rotate(0deg);
  }
}
