@value primary_color, secondary_color, font_color from './vars.module.css';
.button {
  position: relative;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: secondary_color;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  cursor: pointer;
  transition: 350ms;
}

.button:hover {
  transform: scale(1.1);
}

.visited {
  background-color: secondary_color;
  color: primary_color;
  cursor: default;
}

.visited:hover {
  transform: scale(1);
}

.contact_button {
  width: min(12rem, 50vw);
  height: 4rem;
  color: font_color;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}
.contact_button:hover {
  filter: drop-shadow(0 1rem 0.2rem primary_color);
}
.contact_button_image {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (orientation: portrait) {
  .button {
    height: 100%;
    padding: 0 1rem;
    margin: 0 auto;
  }
  .button:hover {
    transform: scale(1);
  }
  .contact_button {
    height: 10rem;
  }
  .contact_button:hover {
    filter: none;
  }
}
