@value primary_color, secondary_color, font_color from './vars.module.css';
.main {
  position: relative;
  height: max(20%, 3rem);
  display: flex;
  align-items: center;
}

.icon {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: font_color;
  text-transform: capitalize;
  margin: 3%;
  font-size: 0.7rem;
  cursor: pointer;
  transition: 350ms;
}

.icon:hover {
  transform: scale(1.1);
  color: secondary_color;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.text {
  color: inherit;
  text-decoration: underline dotted 10%;
  cursor: alias;
  transition: 400ms;
}

.text:hover {
  color: secondary_color;
}
