@value vars: './vars.module.css';
@value canvas_color, primary_color_hex, secondary_color_hex, primary_color, secondary_color, font_color, general-font-family from vars;

.canvas {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: canvas_color;
  font-family: general-font-family;
}

.layout {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.side_bar {
  position: relative;
  height: 100%;
  width: max(9%, 7rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(primary_color_hex, 0.1);
  border-right: solid rgba(primary_color_hex, 1) 1rem;
  margin: 0;
}

.child {
  position: relative;
  height: 100%;
  /* width: calc(100% - max(9%, 7rem)); */
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.section {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background: rgba(primary_color_hex, 0.1);
  color: font_color;
  margin-bottom: 2rem;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  overflow: hidden;
}

.section_in{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /* padding: 2rem; */
}

/*intro*/

.intro {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid; */
}

.intro_text_main {
  position: relative;
  width: 50%;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}
.intro_text_sub {
  position: relative;
  width: 70%;
  padding: 2rem;
  line-height: 1.5;
  text-align: justify;
}
.grow {
  animation: grow 2s;
}
@keyframes grow {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.glow {
  animation: glow 2s;
  transition: 1s;
}
@keyframes glow {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.slide_to_left {
  animation: slide_to_left 2s;
}
@keyframes slide_to_left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.CodingXP_Container{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CodingXP_Intro{
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.CodingXP_Projects{
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  border: solid;
}
@media screen and (orientation: portrait) {
  .canvas {
    width: 100vw;
  }
  .layout {
    flex-direction: column;
  }
  .side_bar {
    width: 100%;
    height: 5%;
    flex-direction: row;
    padding: 0;
  }
  .child {
    height: 95%;
    width: 100%;
  }
  .intro {
    flex-direction: column;
  }
  .intro_image {
    max-width: 100%;
  }
}

