@value vars: './vars.module.css';
@value canvas_color, primary_color, secondary_color, secondary_color_rgb, font_color, font_color_rgb, general-font-family from vars;

/*************** Layout ***************/

.canvas {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: primary_color;
  color: font_color;
  font-family: general-font-family;
}

.layout {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.child {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

/*************** Section ***************/

.section {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-top: 2rem;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  overflow: hidden;
}

.section_in {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding-top: 5%;
}

/*************** Footer ***************/

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 30vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: default;
  background-color: rgba(font_color_rgb, 1);
  color: black;
  padding: 1%;
  padding-left: 10%;
}
.footer_content {
  position: relative;
  height: max(20%, 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  text-align: center;
}

/********** Responsive **********/
@media only screen and (max-height: 540px) and (orientation: landscape) {
  .child {
    scroll-snap-type: unset;
  }
}
