@value canvas_color, primary_color, secondary_color, font_color from './vars.module.css';

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: secondary_color;
  background-color: primary_color;
}

.side {
  position: relative;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.main {
  position: relative;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.key {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  transition: 500ms;
}

.key:hover {
  font-size: 110%;
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  color: font_color;
  overflow-y: scroll;
  padding: 0.5rem;
  transition: 1s;
}

.job_ticket {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  background-color: secondary_color;
}

.ticket_title {
  font-weight: bold;
}
.ticket_location {
  font-style: oblique;
  margin: 0.5rem 0;
}
.ticket_description {
  line-height: 1.3;
  text-align: justify;
}
.skill {
  width: min(100%, 10rem);
  display: flex;
  justify-content: center;
  margin: 0.2rem;
}
.skill_ticket {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  background-color: secondary_color;
}

.skill_list {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.active {
  display: flex;
  color: font_color;
  background-color: canvas_color;
}
@media screen and (orientation: portrait) {
  .container {
    flex-direction: column-reverse;
  }
  .key:hover {
    font-size: 100%;
  }
}
